<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
  <h3 class="my-0 mr-md-auto font-weight-normal"><a class="text-dark" routerLink="/home">Filfab</a></h3>
  <nav class="my-2 my-md-0 mr-md-3">
    <span [hidden]="!isLoggedIn()">
      <span>Hello, {{getFirstName()}}</span>
    </span>
    <a class="p-2 text-dark" *ngIf="hasAccess(['user','admin'])" routerLink="/dashboard">Dashboard</a>

    <span *ngIf="!isLoggedIn()">
          <a class="p-2 text-dark" routerLink="/login"><fa-icon [icon]="faUserIcon"></fa-icon> </a>
    </span>
  </nav>
  <span *ngIf="!isLoggedIn()">
     <button class="btn btn-outline-dark" routerLink="/register">Sign up</button>
  </span>
  <span [hidden]="!isLoggedIn()">
      <button class="btn btn-outline-dark" (click)="logout()">Logout</button>
  </span>
</div>


