{
  "database": {
    "host": "localhost",
    "port": 3306,
    "user": "root",
    "password": "",
    "database": "filfab"
  },
  "secret": "THIS IS USED TO SIGN AND VERIFY JWT TOKENS, REPLACE IT WITH YOUR OWN SECRET, IT CAN BE ANY STRING",
  "emailFrom": "info-filfabs@htw-berlin.de",
  "smtpOptions": {
    "host": "",
    "port": 465,
    "auth": {
      "user": "",
      "pass": ""
    }
  }
}
