<div class="row">
  <div class="col-lg-4 col-md-6 mb-4" *ngFor="let material of materials">
    <!-- alle Materialien in der Datenbank aufgelistet -->
    <div class="card h-100" (click)="$event">
      <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
      <div class="card-body">
        <h4 class="card-title ">
          <a href="#">Material A {{material.name}}</a>
        </h4>
      </div>
    </div>
    <!-- Click auf ein Material führt zur Materialkarte -->
   // <app-material-card [material]="material"></app-material-card>

  </div>
</div>
