<!-- alle Materialien in der Datenbank aufgelistet, bei Klick, öffnet sich eine id oder object muss weitergegeben werden-->

<ng-container *ngFor="let material of materials">
  <div class="card-deck" routerLink="/materialCard/material.id">
    <div class="card">
      <img class="card-img-top" src="{{ material.images.url }}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title"> {{material.name}} titel</h5>
        <p class="card-text"><small class="text-muted"></small></p>
      </div>
    </div>
  </div>
</ng-container>
