<div class="card-deck">
  <!--*ngFor="let material of materials"-->
  <!-- alle Materialien in der Datenbank aufgelistet, bei Klick, öffnet sich eine id oder object muss weitergegeben werden-->
  <div class="card" *ngFor="let item of [1,2,3,4]" routerLink="/materialcard-list/materialCard">
    <img class="card-img-top" src="./assets/img/bootstrap-solid.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Material A <!--{{material.name}}--></h5>
      <p class="card-text"><small class="text-muted"></small></p>
    </div>
  </div>
</div>
