<div class="custom-flex">
  <h1>Home a Beautiful Page</h1>
  <p class="lead">Home is a one-page template for building simple and beautiful home pages. Download, edit the text,
    and
    add your own fullscreen background photo to make it your own.</p>
  <button class="btn-lg btn-dark">Find your Material!</button>
</div>
<div class="container">
  <div class="col-lg" *ngFor="let alert of alerts">
    <alert [type]="alert.type" (onClosed)="onCloseNotification(alert)">{{
      alert.msg }}</alert>
  </div>
</div>


