<div class="mu-body" style="height: 100%;">
  <div routerLink="/dashboard"><fa-icon [icon]="faChevronCircleLeftIcon"></fa-icon></div>
  <div class="title"><h3>Manage Users</h3></div>
  <p>You can update the existing users or set their permissions here.</p>
  <table class="table table-hover">
    <thead>
    <tr>
      <th *ngFor="let head of headElements" scope="col">{{head}}</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of userList | slice: (page-1) * pageSize : page * pageSize">
      <th scope="row">{{user.id}}</th>
      <td>{{user.firstName}}</td>
      <td>{{user.email}}</td>
      <td>
        <form>
          <div class="form-row align-items-center">
            <div class="col-auto my-1">
              <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                <option selected>{{user.role}}</option>
                <option (click)="changeRoleAsUser(user)">User</option>
                <option (click)="changeRoleAsAdmin(user)">Admin</option>
                <option (click)="changeRoleAsSuperAdmin(user)">Super Admin</option>
              </select>
            </div>
          </div>
        </form>
      </td>
      <td class="overflow-hidden">
        <button type="button" class="btn btn-outline mr-2" placement="bottom" ngbTooltip="Delete this User"
                (click)="open(content, user.id)"><fa-icon [icon]="faUserMinusIcon"></fa-icon>
        </button>
      </td>
    </tr>
    </tbody>
  </table>
  <h6>List of Users</h6>
  <ngb-pagination class="d-flex justify-content-end"
                  [(page)]="page"
                  [pageSize]="pageSize"
                  [collectionSize]="userList.length"></ngb-pagination>
</div>


<!-- modaler Dialog fuer das Loeschen -->

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Confirm delete</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('cancel')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <h4 style="">Are you sure you want to delete the profile of <span class="text-primary">{{ user?.firstName }} {{ user?.lastName }} with id: {{ user?.id }} </span>?</h4>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.close('cancel')">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="modal.close('delete')">Delete</button>
  </div>
</ng-template>
