<div class="mu-body" style="height: 100%;">
  <div routerLink="/dashboard"><fa-icon [icon]="faChevronCircleLeftIcon"></fa-icon></div>
  <div class="title"><h3>Manage Users</h3></div>
  <p>You can update the existing users or set their permissions here.</p>
  <table class="table table-hover">
    <thead>
    <tr>
      <th *ngFor="let head of headElements" scope="col">{{head}}</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of userList | slice: (page-1) * pageSize : page * pageSize">
      <th scope="row">{{user.id}}</th>
      <td>{{user.firstName}}</td>
      <td>{{user.email}}</td>
      <td>
        <div class="form-floating">
          <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
            <option selected>{{user.role}}</option>
            <option (click)="changeRoleAsUser(user)">User</option>
            <option (click)="changeRoleAsAdmin(user)">Admin</option>
            <option (click)="changeRoleAsSuperAdmin(user)">Super Admin</option>
          </select>
        </div>
      </td>
      <td class="overflow-hidden">
        <button type="button" class="btn btn-outline mr-2" placement="bottom" ngbTooltip="Delete this User"
                [routerLink]="['/delete-modal/', user.id]"><fa-icon [icon]="faUserMinusIcon"></fa-icon>
        </button>
      </td>
    </tr>
    </tbody>
  </table>
  <h6>List of Users</h6>
  <ngb-pagination class="d-flex justify-content-end"
                  [(page)]="page"
                  [pageSize]="pageSize"
                  [collectionSize]="userList.length"></ngb-pagination>
</div>
