<div class="mu-body d-flex flex-column sticky-footer-wrapper min-vh-100">
  <div routerLink="/home"><fa-icon [icon]="faChevronCircleLeftIcon"></fa-icon></div>
  <div class="title"><h3>Manage Users</h3></div>
  <p>You can update the existing users or set their permissions here.</p>
 <div class="table-responsive">
  <table class="table table-hover table-sm">
    <thead>
    <tr>
      <th *ngFor="let head of headElements" scope="col">{{head}}</th>
    </tr>
    </thead>
    <tbody>
    <ng-container *ngFor="let user of userList | slice: (page-1) * pageSize : page * pageSize">
    <tr *ngIf="user.isVerified === true">
      <th scope="row">{{user.id}}</th>
      <td>{{user.firstName}}</td>
      <td>{{user.lastName}}</td>
      <td>{{user.email}}</td>
      <td>
        <app-role-dropdown [currentUser]="user"></app-role-dropdown>
      </td>
      <td class="overflow-hidden">
        <button type="button" class="btn btn-outline mr-2" placement="bottom" ngbTooltip="Delete this User"
                (click)="open(content, user.id)"><fa-icon [icon]="faUserMinusIcon"></fa-icon>
        </button>
      </td>
    </tr>
    </ng-container>
    </tbody>
  </table>
   </div>

  <h6><small>List of Users</small></h6>
  <ngb-pagination class="d-flex justify-content-end"
                  [(page)]="page"
                  [pageSize]="pageSize"
                  [collectionSize]="userList.length"></ngb-pagination>
</div>


<!-- modaler Dialog fuer das Loeschen -->

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Confirm delete</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('cancel')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <h5 style="">Are you sure you want to delete the profile of <span class="text-primary">{{ currentUser?.firstName }} {{ currentUser?.lastName }} with id: {{ user?.id }} </span>?</h5>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.close('cancel')">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="modal.close('delete')">Delete</button>
  </div>
</ng-template>
