body{
  font-family: Verdana;
}
.fb{
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
img{
  max-width: 100%;
  height: auto;
  object-fit: cover;
}
.carousel-caption{
  background-color: rgb(255 173 0);
}
.home{
  margin-right: 5%;
  margin-left: 5%;
}
.button{
  text-align: center;
  margin-bottom: 0;
}
.btn-primary{
  background-color: rgb(255 173 0);
  border-color: rgb(255 173 0);
}
.btn-primary:hover {
  background-color: rgb(255 173 0);
  border-color: rgb(255 173 0);
}

/* Carousel base class */
.carousel {
  margin: 1rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}

.firstCarousel,.thirdCarousel{
  background-color: rgb(175 175 175);
  color: black;
}
.secondCarousel,.fourthCarousel{
  background-color: rgb(175 175 175);
  color: black;
}

