
.home{
  margin-right: 5%;
  margin-left: 5%;

}
.button{
  text-align: right;
}
.btn-primary{
  background-color: rgb(255 173 0);
  border-color: rgb(255 173 0);
}
.btn-primary:hover {
  background-color: rgb(255 173 0);
  border-color: rgb(255 173 0);
}
