<div class="home">
  <main role="main">
    <div class="jumbotron-fluid">
      <p class="welcomeRoleText mt-0 mb-5" *ngIf="hasAccess(['superAdmin'])">Hello,<span style="color:forestgreen;"> {{getFirstName()}}</span>! You are registered as Super Admin. Now as you will, you can manage users or edit materials.</p>
      <p class="welcomeRoleText"  *ngIf="hasAccess(['admin'])">Hello,<span style="color:forestgreen;"> {{getFirstName()}}! </span> you are registered as Admin, now as you will, you can edit materials or have a look at user data.</p>
    </div>
    <div class="jumbotron">
      <div class="col-sm-8 mx-auto">
        <h1 style="text: solid">Filfabs - Filter your Fabrics</h1>
        <p> Filfabs is a textile material database for various fields of applications.</p>
        <p>As a 3D product developer you can find textile materials based on your needs and receive ready to use data for all common 3D-Programs.</p>
        <p>As a Fashion Designer you can find inspiration on what's new on the textile market.</p>
        <p>As a Fashion product developer you can receive extensive data sets for textile materials, tested according to ISO Standards.</p>
        <p style="text-align: center; color: rgb(194,225,137);">It was never so easy. So let’s get started!</p>
        <p class="button">
          <a class="btn btn-primary col-sm-12 col-md-8 col-lg-4" [routerLink]="['/material']" role="button">Find your Material!</a>
        </p>
      </div>
    </div>
  </main>
</div>
