<div class="custom-flex">
  <h1>Dashboard a Beautiful Page</h1>
  <p class="lead">Dashboard is a one-page template for building simple and beautiful home pages. Download, edit the text,
    and
    add your own fullscreen background photo to make it your own.
    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
  </p>
  <button class="btn-lg btn-outline-dark">Find your Material!</button>
</div>



<!--TODO do we need that-->
<!--
<p>info-box works!</p>
<button (click)="hidden=!hidden">Toggle</button>
<p [hidden]="true">{{text}}</p>
-->
