<div class="custom-flex">
  <h5 *ngIf="hasAccess(['superAdmin'])">Hello {{getFirstName()}} you are registered as Super Admin, now as you will, you can manage users or edit materials..</h5>
  <h5 *ngIf="hasAccess(['admin'])">Hello {{getFirstName()}} you are registered as Admin, now as you will, you can edit materials..</h5>
  <h1>Filfabs - Filter your Fabrics</h1>
  <p class="lead">
    Filfabs is a textile material database for various fields of applications.
    As a 3D product developer you can find textile materials based on your needs and receive ready to use data for all common 3D-Programs.
    As a Fashion Designer you can find inspiration on what's new on the textile market.
    As a Fashion product developer you can receive extensive data sets for textile materials, tested according to ISO Standards.

    <span style="text-align: center; color: rgb(194,225,137);">It was never so easy. So let’s get started!</span>
  </p>
  <button class="btn-lg btn-outline-dark" [routerLink]="['/material']">Find your Material!</button>
</div>


<!--TODO do we need that-->
<!--
<p>info-box works!</p>
<button (click)="hidden=!hidden">Toggle</button>
<p [hidden]="true">{{text}}</p>
-->
