<div class="container">
  <form class="form-flex" [formGroup]="loginForm" (ngSubmit)="login()" novalidate>
    <div class="py-3 text-left">
      <h3>Log in</h3>
    </div>

    <div class="form-group">
        <input formControlName="email" type="email" placeholder="email"
               name="email" id="email" class="form-control"
               aria-required="true" required>
        <app-validation-msg [display]="isLoginFieldValid('email')" msg="Enter a valid email"></app-validation-msg>

    </div>

    <div class="form-group">
      <input formControlName="password" type="password" placeholder="password"
             name="password" id="password" class="form-control" aria-required="true"
             required>
      <app-validation-msg [display]="isLoginFieldValid('password')" msg="Enter your password"></app-validation-msg>
      <div class="validator-message" *ngIf="loginFormSubmitAttempt && this.loginForm.get('password').valid && this.loginForm.get('email').valid">Wrong email or password, please try again.</div>
      <div><small><a routerLink="/forgot-password">Forgot Password?</a></small></div>
    </div>

    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <button class="btn btn-lg btn-dark btn-block" type="submit">Log in</button>
    <div class="col-lg" *ngFor="let alert of alerts">
      <alert [type]="alert.type"  (onClosed)="onCloseNotification(alert)">{{
        alert.msg }}</alert>
    </div>
  </form>
</div>

<div class="container form-flex">
  <div class="py-3 text-left">
    <h3>Register</h3>
  </div>
  <div class="text-left mb-5">
    <p>If you still don't have a account, use this option to access the registration form.

      By giving us your details, FilFab.de will be an enjoyable experience for you.</p>
  </div>
  <button class="btn btn-lg btn-block btn-outline-primary" type="submit" routerLink="/register">Create Account</button>
</div>



