<div class="reg-form">
  <div class="ui equal width form">
    <div class="fields">
      <div class="field">
        <label>E-mail</label>
        <input type="email" placeholder="joe@schmoe.com">
      </div>
      <div class="field">
        <label>Password</label>
        <input type="password">
      </div>
    </div>
  </div>

  <div class="ui form success">
    <div class="ui success message">
      <div class="header">Form Completed</div>
      <p>You're signed up.</p>
    </div>
    <div class="ui error message">
     <div class="header">Action Forbidden</div>
      <p>You can only sign up for an user once with a given e-mail address.</p>
   </div>
    <div class="ui warning message">
      <div class="header">Could you check something!</div>
      <ul class="list">
        <li>That e-mail has been subscribed, but you have not yet clicked the verification link in your e-mail.</li>
      </ul>
    </div>
  <div class="ui submit button">Submit</div>
</div>
</div>
