<div class="mu-body">
  <div routerLink="/dashboard"><fa-icon [icon]="faChevronCircleLeftIcon"></fa-icon></div>
  <div class="button-add">
    <button type="button" class="m-md-0 btn btn-outline-secondary" placement="bottom" ngbTooltip="add new Material" [routerLink]="['/add-material']">
      <fa-icon [icon]="faPlusIcon"></fa-icon></button>
  </div>
  <div class="title"><h3>Edit Materials</h3></div>
  <p>Create new materials or Update the existing materials here.</p>

  <table class="table table-bordered">
    <thead>
    <tr>
      <th *ngFor="let head of headElements" scope="col">{{head}}</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let material of materialList | slice: (page-1) * pageSize : page * pageSize">
      <th scope="row">{{material.id}}</th>
      <td>{{material.name}}</td>
      <td>{{material.materialComposition}}</td>
      <td>{{material.productGroup}}</td>
      <td>{{material.weigtht}}</td>
      <td>{{material.surfaceLook}}</td>
      <td>{{material.thickness}}</td>
      <td>{{material.commercialFabricName}}</td>
      <td>
        <button class="btn btn-outline btn-sm" (click)="delete(material)"><fa-icon [icon]="faUserMinusIcon"></fa-icon></button>
      </td>
    </tr>
    </tbody>
  </table>
  <h6>List of Materials</h6>
  <ngb-pagination class="d-flex justify-content-end"
                  [(page)]="page"
                  [pageSize]="pageSize"
                  [collectionSize]="materialList.length"></ngb-pagination>
</div>
