.mu-body {
  margin-right: 8%;
  margin-left: 8%;
  padding: 2%;
  background: white;
  box-shadow:  10px 10px 15px silver;
  border-radius: 5px;
}

.title{
  margin-top: 2%;
  margin-bottom: 1%;
}

.add-button{
  box-shadow:  10px 10px 15px silver;
  border-radius: 5px;
  margin: 1%;
}
#faPlusIcon{
  color: green;
}
