<div class="mu-body">
  <div routerLink="/home"><fa-icon [icon]="faChevronCircleLeftIcon"></fa-icon></div>
  <div class="button-add">
    <button type="button" class="m-md-0 btn btn-outline-secondary" placement="bottom" ngbTooltip="add new Material" [routerLink]="['/add-material']">
      <fa-icon [icon]="faPlusIcon"></fa-icon></button>
  </div>
  <div class="title"><h3>Edit Materials</h3></div>
  <p>Create new materials or Update the existing materials here.</p>
  <div class="table-responsive">
    <table class="table table-bordered table-sm">
      <thead>
      <tr>
        <th *ngFor="let head of headElements" scope="col">{{head}}</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let material of materialList | paginate:{itemsPerPage: limit,currentPage: offset,totalItems: count}; let i=index">
        <th scope="row">{{material.id}}</th>
        <td>{{material.name}}</td>
        <td>
          <ng-container *ngIf="material.children"
            [ngTemplateOutlet]="materialComposition"
            [ngTemplateOutletContext]="{material:material}">
          </ng-container>
        </td>
        <td>
          <ng-container *ngIf="material.children"
            [ngTemplateOutlet]="productGroup"
            [ngTemplateOutletContext]="{material:material}">
          </ng-container>
        </td>
        <td>
          <ng-container *ngIf="material.children"
            [ngTemplateOutlet]="weight"
            [ngTemplateOutletContext]="{material:material}">
          </ng-container>
        </td>
        <td>
          <ng-container *ngIf="material.children"
            [ngTemplateOutlet]="surfaceLook"
            [ngTemplateOutletContext]="{material:material}">
          </ng-container>
        </td>
        <td>
          <ng-container *ngIf="material.children"
            [ngTemplateOutlet]="thickness"
            [ngTemplateOutletContext]="{material:material}">
          </ng-container>
        </td>
        <td>
          <button class="btn btn-outline btn-sm" *ngIf="hasAccess(['admin'] && adminAdded(material))" (click)="open(content, material.id)"><fa-icon [icon]="faUserMinusIcon"></fa-icon></button>
          <button class="btn btn-outline btn-sm" *ngIf="hasAccess(['superAdmin'])" (click)="open(content, material.id)"><fa-icon [icon]="faUserMinusIcon"></fa-icon></button>
        </td>
      </tr>
    </tbody>
  </table>
    <h6><small>List of Materials</small></h6>
    <div class="row mt-2 justify-content-between align-items-center">
      <pagination-controls
        previousLabel="Prev"
        nextLabel="Next"
        responsive="true"
        (pageChange)="handlePageChange($event)"
      ></pagination-controls>
    </div>
</div>



  <!-- modaler Dialog fuer das Loeschen -->

  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Confirm delete</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('cancel')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <h4 style="color: red">Do you really want to delete this material?</h4>
      <form [formGroup]="fB">
        <div class="form-group">
          <label for="inpId">id</label>
          <div class="input-group">
            <input id="inpId" class="form-control" formControlName="idControl" value="{{ selectedMaterial.id }}" readonly>
          </div>
        </div>
        <div class="form-group">
          <label for="inpFN">firstname</label>
          <div class="input-group">
            <input id="inpFN" class="form-control" formControlName="firstNameControl" value="{{ selectedMaterial.name }}" readonly>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="modal.close('cancel')">Cancel</button>
      <button type="button" class="btn btn-primary" (click)="modal.close('delete')">Delete</button>
    </div>
  </ng-template>
  <ng-template #materialComposition let-material="material">
    <ul>
          <span *ngIf="material && material.children &&
          material.children[0].children[0].children as list">
            <ng-template #recursiveList let-list>
              <span *ngIf="list.length > 0">
                <li *ngFor="let item of list">
              {{item.name}}
                  <ul *ngIf="item.children && item.children.length > 0">
                <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: item.children }"></ng-container>
              </ul>
            </li>
              </span>

          </ng-template>
          <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: list }"></ng-container>
          </span>
    </ul>
  </ng-template>
  <ng-template #productGroup let-material="material">
    <ul>
          <span *ngIf="material && material.children &&
          material.children[0].children[1].children as list">
            <ng-template #recursiveList let-list>
               <li *ngFor="let item of list">
              {{item.name}}
                 <ul *ngIf="item.children && item.children.length > 0">
                <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: item.children }"></ng-container>
              </ul>
            </li>
          </ng-template>
          <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: list }"></ng-container>
          </span>
    </ul>
  </ng-template>
  <ng-template #productGroup let-material="material">
    <ul>
          <span *ngIf="material && material.children &&
          material.children[0].children[1].children as list">
            <ng-template #recursiveList let-list>
               <li *ngFor="let item of list">
              {{item.name}}
                 <ul *ngIf="item.children && item.children.length > 0">
                <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: item.children }"></ng-container>
              </ul>
            </li>
          </ng-template>
          <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: list }"></ng-container>
          </span>
    </ul>
  </ng-template>
  <ng-template #weight let-material="material">
    degree: {{ material.children[0].children[2].degree}}
  </ng-template>
  <ng-template #surfaceLook let-material="material">
    <ul>
          <span *ngIf="material && material.children &&
          material.children[0].children[3].children as list">
            <ng-template #recursiveList let-list>
               <li *ngFor="let item of list">
              {{item.name}}
                 <ul *ngIf="item.children && item.children.length > 0">
                <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: item.children }"></ng-container>
              </ul>
            </li>
          </ng-template>
          <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: list }"></ng-container>
          </span>
    </ul>
  </ng-template>
  <ng-template #thickness let-material="material">
    degree: {{ material.children[0].children[4].degree}}
  </ng-template>
</div>
