<div class="custom-flex">
  <h1>About Us</h1>

  <h3> Filfabs - Filter your Fabrics</h3>

  <p>

    The textile material database Filfabs is a production by the HTW Berlin - University of Applied Sciences. It was developed by students and lecturers from the faculty 4 "School of Computing, Communication & Business" and the faculty 5 "School of Design & Cultures" during a semester project. The structure of the database, the fabric data sets, the pictures and the corporate design was developed by faculty 5 and the implementation was made by faculty 4.

  </p>
  <p>
    The database is meant for 3D-product developer, fashion designer, Fashion product developer and people who wish to be inspired. All textile materials are tested according to the ISO-Standards within the laboratory of the HTW-Berlin and are subject to the highest standards.

    If you wish to receive further information, don't hesitate to reach out to us by using the contact form under "FAQ".
  </p>

  <p>
    We hope you enjoy exploring FILFABS.
  </p>
  <button class="btn-lg btn-success">Find your Material!</button>
</div>
