.tooltip.in {
  opacity: 1;
}
u{
  list-style: none;
}
.card-css{
  border-color: black;
  color: black;
}
.card-header{
  background-color: rgb(245 247 246);
}
.card-body {
  background-color: rgb(245 247 246);
}
.btn-link{
  color: black;
}
body{
  font-family: Verdana;
}
.flex-container {
  display:flex;
}
.card{
  background-color: rgb(245 247 246);
}
