.tooltip.in {
  opacity: 1;
}
u{
  list-style: none;
}
.card-css{
  border-color: black;
  color: black;
}
.card-img-top{

}
.card {

}
.btn-link{
  color: black;
}
body{
  font-family: Verdana;
}
.flex-container {
  display:flex;
}
.card{
}
