.tooltip.in {
  opacity: 1;
}
u{
  list-style: none;
}
.btn-link{
  color: black;
}
body{
  font-family: Verdana;
}
.flex-container {
  display:flex;
}
.card{

}
.carousel-inner .item {
  max-width: 100%;
  height: 100%;
}
.img-fluid {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card-material{
  background-color: transparent;
  border-color: transparent;
}
.object-fit {
  width: 250px;
  height: 250px;
}
.object-fit img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
