<div class="container">
  <div class="row">
    <!-- start filter section-->
    <div class="col-12">
      <div class="row">
        <div class="col-3">
          <ngx-bootstrap-multiselect [options]="myOptions1" [texts]="textSetting1" [settings]="mySettings" [(ngModel)]="optionsModel1"></ngx-bootstrap-multiselect>
        </div>
        <div class="col-3">
          <ngx-bootstrap-multiselect [options]="myOptions2" [texts]="textSetting2" [settings]="mySettings" [(ngModel)]="optionsModel2"></ngx-bootstrap-multiselect>
        </div>
        <div class="col-3">
          <ngx-bootstrap-multiselect [options]="myOptions3" [texts]="textSetting3" [settings]="mySettings" [(ngModel)]="optionsModel3"></ngx-bootstrap-multiselect>
        </div>
        <div class="col-3">
          <ngx-bootstrap-multiselect [options]="myOptions4" [texts]="textSetting4" [settings]="mySettings" [(ngModel)]="optionsModel4"></ngx-bootstrap-multiselect>
        </div>
      </div>

      <hr>

      <div class="row">
        <div class="col-4">
          <ngx-bootstrap-multiselect [options]="myOptions5" [texts]="textSetting5" [settings]="mySettings" [(ngModel)]="optionsModel5"></ngx-bootstrap-multiselect>
        </div>
        <div class="col-4">
          <h5> Weight </h5>
          <ngx-slider [(value)]="value" [(highValue)]="highValue" [options]="options"></ngx-slider>
        </div>
        <div class="col-4">
          <h5> Thickness </h5>
          <ngx-slider [(value)]="value" [(highValue)]="highValue" [options]="options"></ngx-slider>
        </div>
      </div>

      <hr>

      <div class="row">
        <div class="col-4">
          <h5> Drape-Coefficient </h5>
          <ngx-slider [(value)]="value" [(highValue)]="highValue" [options]="options"></ngx-slider>
        </div>
        <div class="col-4">
          <h5> Elasticity</h5>
          <ngx-slider [(value)]="value" [(highValue)]="highValue" [options]="options"></ngx-slider>
        </div>
        <div class="col-4">
          <h5> Elongation</h5>
          <ngx-slider [(value)]="value" [(highValue)]="highValue" [options]="options"></ngx-slider>
        </div>
      </div>

      <hr>
    </div>

    <!-- end filter section-->
    <!-- start material content-->
    <div class="col-12">
      <h1>Material</h1>
      <p class="lead">Dashboard is a one-page template for building simple and beautiful home pages. Download, edit the text,
        and
        add your own fullscreen background photo to make it your own.
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
      </p>
    </div>
    <!-- end material content-->
  </div>
</div>


