<div class="container d-flex flex-column sticky-footer-wrapper min-vh-100 ">
  <div class="row">
    <div class="col-md-3" style="border-right: #777777" *ngIf="categoriesAreFetched">
      <div class="btn-group btn-block dropdown" dropdown container="body" [insideClick]="true"
           *ngFor="let mainCategory of mainCategories">
        <button id="button-nested" dropdownToggle type="button" class="btn btn- dropdown-toggle"
                data-toggle="dropdown-grid" type="button" aria-expanded="false" aria-haspopup="true">
          {{mainCategory.categoryName}} <span class="caret"></span>
        </button>
        <div id="dropdown-nested" *dropdownMenu class="dropdown-menu"
             role="menu" aria-labelledby="button-nested">
          <span *ngIf="mainCategory.children as list">
              <ng-template #recursiveList let-list>
                <div role="menuitem" style="min-width: 15rem" dropdown [autoClose]="true" [insideClick]="true"
                     triggers="mouseover" placement="right"
                     container="body" *ngFor="let item of list; let index = index">
                      <div *ngIf="index!=0" class="dropdown-divider"></div>

                      <a *ngIf="item.children && item.children.length > 0 else filter" dropdownToggle
                         class="dropdown-item dropdown-toggle"
                         (click)="false"> <span>{{item.categoryName}}</span></a>
                     <ng-template #filter>
                       <a *ngIf="!item.hasDegree else dgreeFilter"
                          [ngClass]="item.selected?  'active' : ''" (click)="select(item)"
                          style="min-width: 25rem;" class="dropdown-item">
                           {{item.categoryName}}
                        </a>
                     </ng-template>
                     <ng-template #dgreeFilter>
                        <labe style="min-width: 25rem" class="dropdown-item">
                           {{item.categoryName}}
                        </labe>
                       <div class="p-2">
                         <ngx-slider [(value)]="item.minDegree" [(highValue)]="item.maxDegree"
                                     (valueChange)="setValues(item)"
                                     [options]="Weightoptions"></ngx-slider>
                       </div>
                     </ng-template>
                      <span *ngIf="item.children.length > 0">
                        <div *dropdownMenu class="dropdown-menu  ml-1" role="menu">
                          <div role="menuitem">
                             <ng-container
                               *ngTemplateOutlet="recursiveList; context:{ $implicit: item.children }"></ng-container>
                          </div>
                        </div>
                      </span>
                    </div>
          </ng-template>
              <ng-container
                *ngTemplateOutlet="recursiveList; context: { $implicit: mainCategory.children }"></ng-container>
          </span>
        </div>
      </div>
    </div>
    <ng-container *ngTemplateOutlet="materials.length>0 ? materialsExists : noMaterials;">
    </ng-container>
  </div>
</div>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{selectedMaterial.name}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-6 border-right">
        <div id="carouselExampleIndicators" class="carousel slide my-4" data-ride="carousel">
          <ol class="carousel-indicators" *ngFor="let im of selectedMaterial.images; let index = index">
            <li *ngIf="index == 0" data-target="#carouselExampleIndicators" data-slide-to="{{index}}" class="active"></li>
            <li *ngIf="index != 0" data-target="#carouselExampleIndicators" data-slide-to="{{index}}"></li>
          </ol>
          <div class="carousel-inner" role="listbox">
            <ng-container
              *ngFor="let im of selectedMaterial.images; let index = index">
            <div *ngIf="index == 0" class="carousel-item active">
              <img class="d-block img-fluid" src="{{api+im.url}}" alt="FirstSlide">
            </div>
              <div *ngIf="index != 0" class="carousel-item">
                <img class="d-block img-fluid" src="{{api+im.url}}" alt="FirstSlide">
              </div>
            </ng-container>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <ul>
          <span *ngIf="selectedMaterial.children as list">
            <ng-template #recursiveList let-list>
            <li *ngFor="let item of list">
              {{item.name }} <span *ngIf="item.degree"> {{item.degree}}
                <span *ngIf="item.id == 46"> g/m²</span>
                <span *ngIf="item.id == 59"> mm</span>
                <span *ngIf="item.id == 94"> Abrasion resistance {{ item.degree}}abrasion cycles</span>
                <span *ngIf="item.id == 92"> N</span>
                <span *ngIf="item.id == 91"> N</span>
                <span *ngIf="item.id == 100"> Final score after 7000 tours</span>
                <span *ngIf="item.id != 59 && item.id != 46 && item.id != 94 && item.id != 92 && item.id != 91 && item.id != 100"> %</span>
              </span>
              <ul *ngIf="item.children && item.children.length > 0">
                <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: item.children }"></ng-container>
              </ul>
            </li>
          </ng-template>
          <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: list }"></ng-container>
          </span>
        </ul>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #materialsExists>
  <div class="col-md-9">
    <div class="row">
      <div class="col-lg-3 col-md-4"
           *ngFor="let material of materials | paginate:{itemsPerPage: limit,currentPage: offset,totalItems: count}; let i=index">
        <div class="card card-material mt-2 mt-lg-2"   (click)="openModal(template, material)" style="cursor: pointer">
          <img *ngIf="material.images[0]" class="card-img-top" [src]="api+material.images[0].url" alt="Card image cap">
            <h6 class="card-text p-1">{{material.name}}</h6>
           <!-- <p class="card-text"><small class="text-muted">Last updated {{material.updatedAt | date}}</small></p> -->
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #noMaterials class="text-center">
  <div class="col-md-10 text-center justify-content-center">
      <h3>No Results found</h3>
    </div>
</ng-template>


<div class="row  mt-2 justify-content-between align-items-center">
  <div class="col-12">
    <pagination-controls
      class="text-center"
      previousLabel="Prev"
      nextLabel="Next" responsive="true"
      (pageChange)="handlePageChange($event)">
    </pagination-controls>
  </div>
</div>
