body{
  font-family: Verdana;
}

.reg-form{
  margin-right: 20%;
  margin-left: 20%;
}

.container{
  float: left;
}

input.ng-touched.ng-invalid{
  border: 1px solid red;
  color: red;
}

.validator-message{
  color: red;
}
