<div class="container">
  <footer class="pt-4 my-md-5 pt-md-5 border-top text-dark">
    <div class="container">

      <div class="row text-center d-flex justify-content-center pt-5 mb-3">


        <div class="col-md-2 mb-3">
          <h6 class="text-uppercase font-weight-bold">
            <a routerLink="/faq">FAQ</a>
          </h6>
         </div>


            <!-- Grid column -->
        <div class="col-md-2 mb-3">
              <h6 class="font-weight-bold text-uppercase mb-4">
                <a routerLink="/agb">AGB</a>
              </h6>
        </div>


                <!-- Grid column -->
        <div class="col-md-2 mb-3">
                  <h6 class="font-weight-bold text-uppercase mb-4">
                    <a  routerLink="/impressum">Impressum</a>
                  </h6>
        </div>


        <div class="col-md-2 mb-3">
                      <h6 class="font-weight-bold text-uppercase mb-4">
                        <a routerLink="/datenschutz">Datenschutz</a>
                      </h6>
        </div>


        <div class="col-md-2 mb-3">
                          <h6 class="font-weight-bold text-uppercase mb-4">
                            <a routerLink="/about">About us</a>
                          </h6>
        </div>


        <div class="col-md-2 mb-3">
          <h6 class="font-weight-bold text-uppercase mb-4">© HTW Berlin 2020</h6>
        </div>


     </div>
    </div>
  </footer>
</div>
